In [23]:
# 1. Use beautifulsoup to 
# 2. Confirm loaded correctly
# 3. define def to find the table
# what does it return the table as? 

import os
import pandas as pd
from bs4 import BeautifulSoup as bs

WORKING_DIR = os.path.join('/babyalgebraist.github.io','assets', 'data')
os.chdir(WORKING_DIR)

def getTables(htmlDoc):
	with open(htmlDoc) as fp:
		soup = bs(fp)
	return soup.findAll('table')
	
course_hist = getTables('assets/data/course_record_raw.html')

print(course_hist)

FileNotFoundError: [Errno 2] No such file or directory: '/babyalgebraist.github.io/assets/data'

But all this does is find the table enclosed in the `table` tag. I want to get rid of all that and have what's in the cells. 

Try Pandas next

In [2]:
col_names = ['Course', 'Num','Section',	'Description',	
             'Attempted','Grade','Notation',	
             'GPA','Class Avg',	'Class Size',	
             'Credits Earned','Other']
len(col_names)

12

In [2]:
df_list = pd.read_html('course_history.html')

files = []
for i, df in enumerate(df_list):
#     print(df)
    df.to_csv('table_{}.csv'.format(i), header=None, index=False)
    files.append('table_{}.csv'.format(i))

In [6]:
df_list

[   Course_Num                   Description
 0    FRAN 305           Communication Orale
 1    GEOL 210     Introduction To The Earth
 2    MAST 217   Intro/Mathematical Thinking
 3    MAST 219     Multivariable Calculus Ii
 4    MECH 211      Mechanical Engr. Drawing
 5    GEOL 208   The Earth, Moon And Planets
 6    MATH 252             Linear Algebra Ii
 7    MATH 365                   Analysis Ii
 8    STAT 249                 Probability I
 9    MATH 366            Complex Analysis I
 10   MATH 369            Abstract Algebra I
 11   MATH 392      Elementary Number Theory
 12   MATH 475    Discrete Dynamical Systems
 13   MATH 252             Linear Algebra Ii
 14   MATH 467                Measure Theory
 15   MATH 470           Abstract Algebra Ii
 16   MATH 494                    Set Theory
 17   MATH 354            Numerical Analysis
 18   MATH 370  Ordinary Differential Equat.
 19   MATH 464                 Real Analysis
 20   MATH 494       Algebraic Number Theory
 21   MATH 457             Honours Algebra 4
 22   MATH 494               Random Matrices]

In [3]:
cnt = len(files)  # your loop
dict_of_df = {} # initialize empty dictionary

for i in range(3,cnt):
    dict_of_df['df_{}'.format(i)] = pd.read_csv('table_{}.csv'.format(i), skiprows=1,usecols=[0,1,2,3], names=col_names[:4])

dfs_list = list(dict_of_df.keys())
df = pd.concat(dict_of_df, ignore_index=True)
# display(df)
df.drop(columns=['Section'], inplace=True)
display(df)

ValueError: No objects to concatenate

In [101]:
df.info()

mask = df.Course == 'Course Topic:'
topics_ind = list(df[mask].index)
topics = list(df[mask].Num.values)

locations = list(zip(topics_ind, topics))
locations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
Course         28 non-null object
Num            28 non-null object
Description    23 non-null object
dtypes: object(3)
memory usage: 752.0+ bytes

[(13, 'DISCRETE DYNAMICAL SYSTEMS'),
 (18, 'SET THEORY'),
 (23, 'ALGEBRAIC NUMBER THEORY'),
 (25, 'MATH 457 MCGILL'),
 (27, 'RANDOM MATRICES')]

In [112]:
for i in range(len(locations)):
    if i == 3:
        df.loc[locations[i][0]-1].Course = 'MATH'
        df.loc[locations[i][0]-1].Num = '457'
    else:
        df.iloc[locations[i][0]-1].Description = locations[i][1]

In [122]:
df.Num = df.Num.astype(str);
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 26
Data columns (total 3 columns):
Course         23 non-null object
Num            23 non-null object
Description    23 non-null object
dtypes: object(3)
memory usage: 736.0+ bytes

In [127]:
df['Course_Num'] = df['Course'] + ' ' + df['Num']
df.drop(columns=['Course', 'Num'], inplace=True)

In [130]:
df = df[['Course_Num', 'Description']]

In [140]:
df['Description'] = df['Description'].str.title()
df['Description']
df

   Course_Num                   Description
0    FRAN 305           Communication Orale
1    GEOL 210     Introduction To The Earth
2    MAST 217   Intro/Mathematical Thinking
3    MAST 219     Multivariable Calculus Ii
4    MECH 211      Mechanical Engr. Drawing
5    GEOL 208   The Earth, Moon And Planets
6    MATH 252             Linear Algebra Ii
7    MATH 365                   Analysis Ii
8    STAT 249                 Probability I
9    MATH 366            Complex Analysis I
10   MATH 369            Abstract Algebra I
11   MATH 392      Elementary Number Theory
12   MATH 475    Discrete Dynamical Systems
14   MATH 252             Linear Algebra Ii
15   MATH 467                Measure Theory
16   MATH 470           Abstract Algebra Ii
17   MATH 494                    Set Theory
19   MATH 354            Numerical Analysis
20   MATH 370  Ordinary Differential Equat.
21   MATH 464                 Real Analysis
22   MATH 494       Algebraic Number Theory
24   MATH 457             Honours Algebra 4
26   MATH 494               Random Matrices

In [143]:
df.to_csv('course_history.csv')

In [145]:
df.to_html('course_history.html', index=False)

In [8]:
import os

In [15]:
os.chdir('/Users/joshuafiddler/OneDrive/Programming/Projects/babyalgebraist.github.io/')

In [25]:
%cd assets

/Users/joshuafiddler/OneDrive/Programming/Projects/babyalgebraist.github.io/assets

In [27]:
%cd ..

/Users/joshuafiddler/OneDrive/Programming/Projects/babyalgebraist.github.io